%p.centered
  %input#start{:type => "button", :value => "Start"}
  &nbsp;|&nbsp;
  %input#stop{:type => "button", :value => "Stop"}
  &nbsp;|&nbsp;
  %input#continue{:type => "button", :value => "Continue"}
  
%table{:border => "1", :width => "100%", :align => "center"}
  %tr
    %td{:colspan => "2", :align => "center"}
      %span#mins.time 00
      &nbsp;:&nbsp;
      %span#secs.time 00
  %tr
    %td{:align => "center"}
      %span#pointsa.point 0
    %td{:align => "center"}
      %span#pointsb.point 0

%p
  %table{:border => "1", :align => "center"}
    %tr
      %th{:align => "center"} Team A
      %th{:align => "center"} Team B
    %tr
      %td{:align => "center"}
        %input.plus_one{:type => "button", :value => "+1", "data-team" => "a"}
        &nbsp;/&nbsp;
        %input.minus_one{:type => "button", :value => "-1", "data-team" => "a"}
      %td{:align => "center"}
        %input.plus_one{:type => "button", :value => "+1", "data-team" => "b"}
        &nbsp;/&nbsp;
        %input.minus_one{:type => "button", :value => "-1", "data-team" => "b"}
        
= content_for :js do
  :javascript
    timerStopped = true;
    
    $('#start').click(function() {
      if(timerStopped) {
        startDate = new Date();
        mins = 0;
        secs = 10;
        
        $('#mins').html('00');
        $('#secs').html('10');
        
        timer = function() {          
          if(!timerStopped && (mins > 0 || secs > 0)) {
            if(secs == 0) {
              secs = 59;
              if(mins > 0)
                mins -= 1;
            } else {
              secs -= 1;
            }
          
            $('#mins').html(mins < 10 ? '0'+mins : mins);
            $('#secs').html(secs < 10 ? '0'+secs : secs);
            setTimeout(timer, 1000);
          } else
            timerStopped = true;
        };
        
        timerStopped = false;
        setTimeout(timer, 1000);
      }
    });
    
    $('#stop').click(function() {
      timerStopped = true;
    });
    
    $('#continue').click(function() {
      if(timerStopped) {
        timerStopped = false;
        timer();
      }
    });
    
    $('.plus_one').click(function() {
      var elem = $('#points'+$(this).data('team'));
      var points = elem.html();
      elem.html(parseInt(points)+1);
    });
    
    $('.minus_one').click(function() {
      var elem = $('#points'+$(this).data('team'));
      var points = elem.html();
      if(points > 0)
        elem.html(parseInt(points)-1);
    });
